div {
    display: block;
}

.playerbox {
    position: relative;
    /*left: 300px;*/
    /*top: 200px;*/
    width: 300px;
    height: 66px;
    box-shadow: 0 0 15px #ccc;
    background: #fff;
}

.bar {
    position: relative;
    height: 2px;
    background: #E5E5E5;
    left: 80px;
    bottom: 16px;
    width: 200px;
}

.bar-played {
    position: relative;
    height: 2px;
    background: #FF0000;
    left: 0;
    top: 0;
    bottom: 0;
}

.cover {
    position: relative;
    height: 66px;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    width: 66px;
}
.cover_img {
    position: relative;
    height: 66px;
    left: 0;
    top: 0;
    width: 66px;
}

.circle {
    width: 2px;
    height: 2px;
    background: red;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.lrcbox {
    width: 300px;
    height: 6.1em;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 2px #ccc;
    background: rgb(255, 255, 255);
}
.lrc_playing{

}
.lrc_ing {
    position: relative;
    animation: will_to_ing 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lrc_ed {
    position: relative;
    animation: ing_to_ed 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lrc_will {
    position: relative;
    animation: in_to_will 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lrc_in {
    position: relative;
    top: 8em;
    opacity: 0;

}

.lrc_out {
    position: relative;
    animation: ed_to_out 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes will_to_ing {
    from {
        top: 6em;
    }

    to {
        top: 4em;
    }
}

@-webkit-keyframes ing_to_ed {
    from {
        top: 4em;
    }

    to {
        top: 2em;
    }
}

@-webkit-keyframes ed_to_out {
    from {
        top: 2em;
        opacity: 1;
    }

    to {
        top: 0em;
        opacity: 0;
    }
}

@-webkit-keyframes in_to_will {
    from {

        top: 8em;
        opacity: 0;
    }

    to {
        top: 6em;
        opacity: 1;
    }
}

